.button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.button-primary {
    background-color: #FF8A11;
    color: #fff;
}

.button-primary:hover {
    background-color: #D57511;
}

.button-primary:active {
    background: rgb(255, 138, 17);
    background: radial-gradient(circle, rgba(255, 138, 17, 1) 0%, rgba(213, 117, 17, 1) 100%);
}

.button-primary:focus {
    background-color: #FF8A11;
    box-shadow: inset 0 0 10px #D57511;
}


@media screen and (max-width: 1024px) {
    .button {
        padding: 0.8rem 1.6rem;
        font-size: 0.8rem;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
}