.trip-config-text {
    margin: 0;
    font-size: 1.2rem;
}

.trip-config-input-tag {
    width: fit-content;
    border-radius: 10px;
    border: none;
    background: #ECECEC;

    height: 27px;
}


.trip-bar-response-hide {
    display: block;
}

@media screen and (max-width: 800px) {
    .trip-bar-response-hide {
        display: none;
    }
}